<header class="header_nav">
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>
    <a class="logo"><img src="../assets/images/logo.png" alt="logo" width="80" height="75"></a>

    <a href="/dorm/home" style="text-decoration: none;">
        <img class="header_logo" src="../assets/images/logo.png" alt="logo" width="70" height="70">
        <div class="header_text">
            <span>ระบบจัดการหอพัก วิทยาลัยอาชัวศึกษาเทคโนโลยีฐานวิทยาศาสตร์ (ชลบุรี)</span>
        </div>
    </a>
    <a style="visibility: hidden;" class="cta" href="/dorm/logout">Logout</a>
</header>
