hr {
    max-width: 80%;
    margin: auto;
}
.container {
    margin: 20px;
}


/* slide-image */
.swiper {
    width: 70%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 50px;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: white;
}

.swiper .swiper-pagination-bullet-active {
    background: white;
}

@media (max-width : 900px) {
    .swiper {
        width: 100%;
        height: fit-content;
    }
}