
<div class="container">
    <!--
    <center><p class="main_page">หน้าหลัก</p></center>
    <hr>
    <br>
    -->
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="/assets/images/banner/banner1.png"></div>
            <div class="swiper-slide"><img src="/assets/images/banner/banner2.png"></div>
            <div class="swiper-slide"><img src="/assets/images/banner/banner3.png"></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> 
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/slide_banner.js"></script>