<div class="container">
    <center>
        <div class="rules_div">
            <img class="rules scale-up-center" src="/assets/images/rules_page/page_1.png" alt="rules_page_1">
            <img class="rules scale-up-center" src="/assets/images/rules_page/page_2.png" alt="rules_page_2">  
        </div>
    </center>
</div>
